templates/index.pug
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Keygen Radio
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Listen endlessly to keygen chiptunes in JS.')
    link(rel='apple-touch-icon', href='/favicon152.png')
    link(rel='stylesheet', href='css.css')
  body
    .top-background
      h1
        a(href='http://keygenradio.com') Keygen Radio

    .bottom-background
      .footer
        :markdown-it
          Created by [Paul Nechifor](/). [View the Git source.](https://gitlab.com/paul-nechifor/keygen-radio)

        small: :markdown-it
          [Home](/) •
          [Blog](/blog) •
          [Projects](/projects) •
          [Twitter](https://twitter.com/PaulNechifor)

    .player
      .song-name

      .controls
        .pause Pause
        .next Next


    script(src='js.js')

dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge"><title>Keygen Radio</title><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="description" content="Listen endlessly to keygen chiptunes in JS."><link rel="apple-touch-icon" href="/favicon152.png"><link rel="stylesheet" href="css.css"></head><body><div class="top-background"><h1><a href="http://keygenradio.com">Keygen Radio</a></h1></div><div class="bottom-background"><div class="footer"><p>Created by <a href="/">Paul Nechifor</a>. <a href="https://gitlab.com/paul-nechifor/keygen-radio">View the Git source.</a></p><small><p><a href="/">Home</a> • <a href="/blog">Blog</a> • <a href="/projects">Projects</a> • <a href="https://twitter.com/PaulNechifor">Twitter</a></p></small></div></div><div class="player"><div class="song-name"></div><div class="controls"><div class="pause">Pause</div><div class="next">Next</div></div></div><script src="js.js"></script></body></html>
